/* Highlighter css */

#hiBar {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

#hiBar.framed {
	width: inherit;
	float: right;
}

@media only screen and (max-width: 450px) {
    #hiBar {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

#hiBar-body {
    width: 100%;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 450px) {
    #hiBar-body {
        padding-left: 0;
        padding-right: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

#hiBar.stick {
    margin-top: 0 !important;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 10000;
}

#hiBar .nohl {
    background-color: white;
}

#hiBar-mobile-canlii-logo  {
    padding-right: 10px;
    align-items: center;
}

#hiBar-mobile-canlii-logo-img {
    width: 67px;
    margin-right: 10px;
    margin-left: 4px;
    padding-bottom: 4px;
}

#hiBar-page-widget {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 2px;
}

#hiBar-page-widget-label {
	padding-left: 4px;
    padding-right: 5px;
}

#hiBar-page-widget-page-number-input {
    height: 23px;
    width: 45px;
    margin-bottom: 0;
}

#hiBar-highlight-widget-search {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: end;
    justify-content: flex-start;
    width: 100%;
}

@media only screen and (max-width: 450px) {
    #hiBar-highlight-widget-search {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 4px;
    }
}

#hiBar-highlight-widget-search-terms-container {
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media only screen and (max-width: 450px) {
    #hiBar-highlight-widget-search-terms-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

#hiBar-highlight-widget-search-terms {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    justify-content: flex-end;

    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

@media only screen and (max-width: 450px) {
    #hiBar-highlight-widget-search-terms {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

#hiBar-highlight-widget-search-terms-edit {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 2px;
}

#hiBar-highlight-widget-search-terms-edit-input {
    display: block;
    height: 23px;
    width: 100%;
    margin-right: 4px;
}

#hiBar-highlight-widget-search-controls {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2px;
}

#hiBar-highlight-widget-search-controls i,
#hiBar-highlight-widget-search-terms-edit i {
	transition: all 0.3s ease;
	padding: 8px;
	
	-ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

#hiBar-highlight-widget-search-controls i:hover,
#hiBar-highlight-widget-search-terms-edit i:hover {
	color: #202020;
	border-radius: 4px;
	background-color: #ccc;
}

#hiBar-highlight-widget-counts {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 10px 2px 10px;
}

#highlight-count {
    text-align: right;
}


#highlight-total-count {
    text-align: left;
}

#hiBar button {
	border: none;
	background-color: transparent;
	padding: 0;
}

#hiBar .widget-btn {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    font-size: 12pt;
    color: #484848;
    cursor: pointer;
	margin-right: 0;
	transition: all 0.3s ease;
	
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.highlighted-term {
    border-radius: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    cursor: pointer;

    /*white-space: nowrap;*/
    display: inline-block;
    border: 1px solid #BBBBBB;
}

#hiBar-highlight-widget-search-terms label {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 2px;
    margin-bottom: 2px;
}

#hiBar-highlight-widget-search-terms label input {
    padding: 0;
    margin: 0 2px 2px 0;
}

.control-text {
    color: #484848;
    font-size: 10pt;
}

.term-text {
    color: #585858;
}

.display-flex {
    display: flex;
    display: -ms-flexbox;
}

.display-none {
    display: none;
}

#hiBar .widget-btn:hover {
	color: #202020;
}

@media print {
    .lexumSolrHi {
        visibility: hidden;
    }

    #hiBar {
        display: none;
    }

    body #canliiHeader {
        position: relative;
    }

    #wrap {
        padding-top: 0 !important;
    }
}

.lexumSolrTransition {
    transition: all 0.2s ease 0s;
}

.solexLeft {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 2px;
}

.solexRight {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 2px;
}

.lexumSolrCurrentTerm {
    color: #FFFFFF;
}

.lexumSolrCurrentTerm.solexNohl {
    background-color: inherit !important;
    color: inherit !important;
}

.solexNohl {
    background-color: inherit;
}

.solexMissingTerm {
	cursor: default !important;
	opacity: 0.8; 
	background: repeating-linear-gradient( -55deg, #fcc6c5, #fcc6c5 5px, #FFF 5px, #FFF 10px );
}

.solexMissingTerm i.solexMissingTermIcon {
	cursor: help;
	font-size: 90%; 
	vertical-align: top;
}

