.canliiContent a.reflexLink {
	white-space: nowrap;
}

.canliiContent span.canliiCitation, span.nowrap {
	white-space: nowrap;
}

.canliiContent dfn.dollar {
	color: navy;
	font-size: 10.5pt;
	font-weight: bold;
	cursor: help;
	background-image: none;
	padding: 0;
	background-color: #f0f0f0;
}

.canliiContent p.noteSoquij {
	font-style: italic;
	margin-top: 4em;
}

.multipleLawsPar {
	padding-left: 3em;
	text-indent: -1em; 
	margin: 0; 
	max-width: 700px;
}

div#documentContainer {
	margin-bottom: 1.5em;
}

p#unavailableJudgmentContent {
	font-family: 'Open Sans', "Myriad Web", Verdana, sans-serif;
	margin-top: 50px;
	text-align: center;
}

#seeAlso .seeAlsoContent {
	margin: 0 0 8px;
	padding: 0.5em 1em;
}

.canliiContent .tab-content .canlii-label,
.canliiContent .tab-content .labelPrint {
	color: #7b7575;
}

.canliiContent span.headnoteWarning {
	padding-right: 10px;
}

p#insertedParagSourceBorder {
	border-bottom: 1px solid grey;
	margin-top: 0;
	padding-top: 5px;
}

p#insertedParagTitle {
	border-top: 1px solid grey;
	padding-top: 5px;
	text-align: center;
	font-size: 14px;
	font-family: "Myriad Web", Verdana, sans-serif;
	color: #7b7575;
}

p.currentPar a.paragAnchor,
p.currentPar a.reflex-paragAnchor {
	color: black;
}

q.decisia-wcag-quote-inline:before, 
q.decisia-wcag-quote-inline:after { 
	content: ""; 
}

.canliiContent div#citedBy div.title {
	font-size: 14px;
}

.canliiContent div#citedBy span.reference {
	padding-right: 5px;
}

div.ftntip p.MsoFootnoteText {
	margin-bottom: 0;
}

@media (max-width: 767px) {

	div#originalDocument td p {
		word-wrap: break-word;
		word-break: break-all;
	}
	
	/* Fix the display of pdf judgments on phones */
	div#pdf-viewer {
		transform: scale(0.49, 0.49) !important;
		transform-origin: left top 0px !important;
		width: 750px !important;
	}
}

@media print {
	
	h2.mainTitle {
		font-size: 20pt !important;
	    padding-top: 20px !important;
	    margin-top: 0 !important;
	}

	div#seeAlso {
		border-bottom: 1px solid #000;
	}
	
	p.insertedParagSource {
		display: none;
	}
	
	p.insertedTopBorder {
		border: none;
	}
	
	div#lexboxHook {
		display: none !important;
	}
}

#treatment {
	width:100%;
	display: inline-block
}

#treatment .treatment-list {
	padding-top: 8px;
	float: left;
}

#treatment .results-display {
	float: right;
}

#treatment .treatment-item {
	margin-left: 13px;
	margin-right: 13px;
	cursor: pointer;
}

#treatment a.dropdown-toggle {
	cursor: pointer;
}

.not-active {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: #484848;
}

.treatment-list a.treatment-item {
	color: #484848;
}

.treatment-list a.treatment-item:hover {
	text-decoration: none;
}

.TreatmentSearchResultsLoading {
	opacity: 0.2;
}