{% extends 'base.html' %}

{% block title %}FIRAC Generator - File Input{% endblock %}

{% block content %}
    <h1>File Input</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="api_key" value="{{ api_key }}">
        <table>
            <tr>
                <td>Upload File:</td>
                <td><input type="file" name="file" required></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-custom">Analyze</button>
    </form>
{% endblock %}
