{% extends 'base.html' %}

{% block title %}FIRAC Generator - Manual Input{% endblock %}

{% block content %}
    <h1>Manual Input</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="api_key" value="{{ api_key }}">
        <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-custom">Analyze</button>
    </form>
{% endblock %}
